.container{
    position: relative;
    margin-bottom: 5rem;
    margin-top: 6rem;
}

.container > * {
    margin: 0 auto;
}

.menu{
    width: 100vw;
    padding: 3vw 0;
    background-color: white;
    display: flex; 
    justify-content: space-around;
    position: fixed;
    bottom: 0;
}

.sheets{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.sheet{
    img{
        width: 5vw;
    }
}