.header{
padding-left: 5vw;
padding-right: 5vw;
width: 90vw;
height : 5rem;
display:flex;
flex-direction: row;
justify-content:space-between;
align-items: center;
list-style-type: none;
background-color: white;
position: fixed;
top: 0;
margin: 0 auto;

a{
    text-decoration:none;
    color: red;
    font-family: $text;
    font-size:0.8rem;
}
}