.herbier{
    width: 90vw;
    margin : 0 auto;

    .titles{
        display: flex;
        flex-direction: row;
        align-items: center;

        h3{
            font-weight: 500;
            font-size: 0.9rem;
            line-height: 3.5rem;
            color: black;
            text-transform: capitalize;


            span{
                font-weight: 300;
                font-size: 0.9rem;
                line-height: 3.5rem;
                text-transform: capitalize;
                color: grey;
                font-style: italic;
                
            }
    
        }

    
        a{
            color: $green;
            text-decoration: none;
            font-family: $text;
            font-weight: bold;
        }

        &:after{
            content:"";
            position: absolute;
            width: 90vw;
            height: 1px;
            margin-top: 2rem;
            background-color: black;
            opacity: 0.5;
        }
    }


    h2{
        text-transform: capitalize;
        margin: 1rem 0;
    }

    .list{
        display: flex;
        flex-direction: row;
        align-items:center;
        justify-content:flex-start;
        flex-wrap: wrap;
        column-gap: 0.3rem;
        row-gap: 0.5rem;
        
        margin: 1rem 0;
    
        span{
        padding: 0.2rem 0.4rem;
        border-radius: 20px;
        font-family: $text;
        color: white;
        font-size: 0.8rem;
    
    }
    }


    .separateur{
        margin-top:2rem;
        font-size: 0.8rem;
        font-family: $text;
        font-weight: bold;
        color: $black;
        &:after{
            content:"";
            position: absolute;
            width: 70vw;
            height: 1px;
            margin-top: 1rem;
            left: 1.2rem;
            background-color: black;
            opacity: 0.5;
        }
    }

    .description{
        font-family: $text;
        margin-top: 1rem;
        font-size: 0.9rem;
        line-height: 1.4rem;
    }
}

.photo-container{
    width: 100vw;
    height: 20rem;
    overflow: hidden;
}

.back{
    background-color: $lightgreen;
    color: white;
    margin : 0 auto;
    border-radius: 20px;
    border:none;
    padding: 0.5rem 2rem;
    font-family: $text;
    text-decoration: none;
    z-index: 2;
    position: fixed;
    margin-top : 1rem;
    left: 1rem;

}


