


section{
    width:90vw;
    margin:0 auto;
    overflow: hidden;
    display: flex;
    flex-direction:column;

    .logo{
        width: 10rem;
        margin: 0 auto;
        margin-top:2rem;
    }

.background{
    z-index:-5;
    position: absolute;
    top: -10rem;
    left: 0;
}


.social-btn{
    margin-top:13rem;
    height: 11rem;
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align :center;
    
    a{
    text-decoration: none;
    width:80vw;
    padding: 1rem 0;
    color: white;
    font-family: $text;
    border-radius: 10px;

}
}
}

#redirection{
    color: white;
    font-size: 0.8rem;
    font-family: $text;
    text-decoration: none;
    text-align:center;
    margin-top: 2rem;
}

h3{
    font-family: $text;
    color: $black;
    width: 20rem;
    font-size: 1.2rem;
}

.form-login{
    width: 80vw;
    height: 10rem;
    margin : -15rem auto;
    display:flex;
    flex-direction:column;
    justify-content: space-around;
    margin-top:10rem;

    input{
        padding-top:0.2rem;
        padding-bottom:0.7rem;
        margin-bottom:0.7rem;
        border:none;
        border-bottom: solid 1px $black;

        &::placeholder{
            font-family:$text;
            color:$black;
            font-size:0.8rem;
        }

        &:focus{
            border-bottom: solid 1px $black;
        }
    }

    .left{
        text-align:right;
        text-decoration: none;
        font-size : 0.8rem;
        font-family : $text;
        color:$black;
        margin-bottom:1rem;
    }


    .remember{
        text-align:left;
        text-decoration: none;
        font-size : 0.8rem;
        font-family : $text;
        color:$black;
        margin-bottom:1rem;
    }
    text-align:center;



.submit{
    background-color: $green;
    color: white;
    width: 40vw;
    margin : 0 auto;
    margin-top: 2rem;
    border-radius: 20px;
    border:none;
    padding-top:0.5rem;
    padding-bottom:0.5rem;
    font-family: $text;
}

.nav-link{
    font-family: $text;
    color: $green;
    margin-top: 3rem;

}


}

.error{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: white;
    height: 35rem;
    font-family: $text;

    span{
        font-weight: bold;
        font-size: 2.4rem;
    }
   img{
       position: absolute;
       z-index: -5;
       top: 0;
       left: 0;
       height: 100vh;
   }

   h2{
       font-weight: 500;
       margin: 1rem;
   }

   p{
       text-decoration: line-through;
   }
   a{
       z-index: 5;
       text-decoration: none;
       padding: 0 2rem;
   }


}

