/*== Load styles ==*/
.green {
  background-color: #4DBF52;
}

.yellow {
  background-color: #FFC700;
}

.lightgreen {
  background-color: #7EDA82;
}

.google {
  background-color: #DE5246;
}

.facebook {
  background-color: #3B5998;
}

.white {
  background-color: white;
  color: black !important;
}

.container {
  position: relative;
  margin-bottom: 5rem;
  margin-top: 6rem;
}

.container li {
  list-style-type: none;
}

.container > * {
  margin: 0 auto;
}

.menu {
  width: 100vw;
  padding: 3vw 0;
  background-color: white;
  display: flex;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
}

.sheets {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.sheet img {
  width: 5vw;
}

.post {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  width: 90vw;
  margin: 3rem auto;
  box-shadow: 0px 0px 15px -1px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  padding-top: 1rem;
  padding-bottom: 0rem;
}

.post .photo_container {
  border: none;
  width: 90vw;
  overflow: hidden;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.post .photo_container img {
  width: 90vw;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.post .name {
  text-decoration: none;
  color: #000000;
  font-family: "Montserrat";
  padding-bottom: 1rem;
  margin-left: 0.5rem;
}

.post .specs {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.post .specs span {
  margin-top: -3rem;
  padding: 0.5rem;
  margin-right: 0.5rem;
  border-radius: 20px;
  font-family: "Montserrat";
  color: white;
}

.header {
  padding-left: 5vw;
  padding-right: 5vw;
  width: 80vw;
  height: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  background-color: white;
  position: fixed;
  top: 0;
}

.header a {
  text-decoration: none;
  color: red;
  font-family: "Montserrat";
  font-size: 0.8rem;
}

.file-section {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90vw;
  height: 10rem;
  box-shadow: 0px 0px 15px -1px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  color: #434343;
  font-family: "Montserrat";
  border-radius: 10px;
  margin-bottom: 2rem;
}

.file {
  display: none;
}

div {
  width: 90vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

div h2 {
  font-family: "Montserrat";
  color: #434343;
  width: 20rem;
  font-size: 1.2rem;
}

div input {
  border: none;
  padding: 0.5rem;
  margin-right: 0.5rem;
  border-radius: 20px;
  font-family: "Montserrat";
  color: white;
  width: 75%;
}

div input::-moz-placeholder {
  font-family: "Montserrat";
  color: white;
  opacity: 1;
  width: 100%;
}

div input:-ms-input-placeholder {
  font-family: "Montserrat";
  color: white;
  opacity: 1;
  width: 100%;
}

div input::placeholder {
  font-family: "Montserrat";
  color: white;
  opacity: 1;
  width: 100%;
}

input:focus {
  outline: none !important;
  border-color: #4DBF52;
  border: none;
  background-color: white;
}

.yellow:focus {
  border: solid 1px #FFC700;
}

.yellow:focus::-moz-placeholder {
  color: #FFC700;
}

.yellow:focus:-ms-input-placeholder {
  color: #FFC700;
}

.yellow:focus::placeholder {
  color: #FFC700;
}

.green:focus {
  border: solid 1px #4DBF52;
}

.green:focus::-moz-placeholder {
  color: #4DBF52;
}

.green:focus:-ms-input-placeholder {
  color: #4DBF52;
}

.green:focus::placeholder {
  color: #4DBF52;
}

.lightgreen:focus {
  border: solid 1px #7EDA82;
}

.lightgreen:focus::-moz-placeholder {
  color: #7EDA82;
}

.lightgreen:focus:-ms-input-placeholder {
  color: #7EDA82;
}

.lightgreen:focus::placeholder {
  color: #7EDA82;
}

.submit {
  background-color: #4DBF52;
  color: white;
  width: 40vw;
  margin-left: 25vw;
  margin-top: 2rem;
  border-radius: 20px;
}

.stats {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.stats .follow {
  margin: 2vw;
  font-family: "Montserrat";
  color: #434343;
}

.specs {
  display: inline-flex;
  align-items: center;
}

.specs span {
  margin-top: -3rem;
  padding: 0.5rem;
  margin-right: 0.5rem;
  border-radius: 20px;
  font-family: "Montserrat";
  color: white;
}

.profil-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.profil-header a {
  text-decoration: none;
  font-family: "Montserrat";
  padding: 0.4rem;
  border-radius: 10px;
  font-size: 0.8rem;
}

.profil-header .btn-stop {
  background-color: #4DBF52;
  border: solid 1px #4DBF52;
  color: white;
}

.profil-header .btn-suivi {
  background-color: white;
  border: solid 1px #4DBF52;
  color: #4DBF52;
}

section {
  width: 90vw;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

section .logo {
  width: 10rem;
  margin: 0 auto;
  margin-top: 2rem;
}

section .background {
  z-index: -5;
  position: absolute;
  top: -10rem;
  left: -1rem;
}

section .social-btn {
  margin-top: 13rem;
  height: 11rem;
  width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

section .social-btn a {
  text-decoration: none;
  width: 80vw;
  padding: 1rem 0;
  color: white;
  font-family: "Montserrat";
  border-radius: 10px;
}

#redirection {
  color: white;
  font-size: 0.8rem;
  font-family: "Montserrat";
  text-decoration: none;
  text-align: center;
  margin-top: 2rem;
}

.form-login {
  border: solid 1px red;
}

/*== Load Fonts ==*/
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
* {
  margin: 0;
  padding: 0;
}

html {
  margin: 0;
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
//  */
/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

