$yellow: #FFC700;
$lightgreen: #7EDA82;
$green: #4DBF52;
$black : #434343;

$text : 'Montserrat';

.green{
    background-color: $green;
}

.yellow{
    background-color: $yellow;
}

.lightgreen{
    background-color: $lightgreen;
}